
    /*------- Estilos generales -------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(24, 24, 24);
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(197, 197, 197);
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(156, 156, 156);
  }
  
h2{
    font-size: 30px;
}


    /*------- Barra de navegacion -------*/

.navegacion{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(0, 0, 0);
    z-index: 1;
}


.contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 5px auto;
}

.btn-navegacion{
    width: 200px;
    padding: 5px;
    background-color: rgba(240, 248, 255, 0);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.btn-navegacion:hover{
    background-color: rgba(73, 73, 73, 0.644);
    border-radius: 10px;
    color: white;
}


    /*------- Header de la pagina -------*/

.sobre-mi{
    background-color: rgb(24, 24, 24);
    color: aliceblue;
    display: flex;
    width: 100%;
    height: 100vh;
}

.encabezado{
    display: block;
    border: 2px white solid;
    border-radius: 20px;
    padding: 50px;
}

.encabezado span{
    font-size: 30px;
    color: rgb(197, 197, 197);
    margin-top: 20px;
    margin-bottom: 20px;
}

.encabezado h1{
    font-size: 60px;
    color: aquamarine;
    margin-top: 20px;
    margin-bottom: 20px;
}

.encabezado p{
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(197, 197, 197);
}

.triangulo{
    border-bottom: 100px solid rgb(230, 230, 230);
    border-right: 150px solid transparent;
}

.perfil-img img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px white,
                0 15px 30px;
    margin: 100px;
}


    /*------- Conocimientos y habilidades --------*/

.cv{
    background-color: rgb(184, 184, 184);
    color: rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
}

.contenedor-block{
    display: block;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 50px;
}

.accordion{  
    z-index: 3;
    background-color: rgba(240, 248, 255, 0);
    margin-top: 100px;
}

.accordion-item h3{
    font-size: 25px;
}

.accordion-body ul{
    font-size: 20px;
}

.accordion-body li span{
    font-style: italic;
    color: rgb(51, 51, 51);
}


    /*------ Slider de proyectos ------*/

.proyectos{
    background-color: rgb(24, 24, 24);
    color: aliceblue;
    width: 100%;
    height: 100vh;
}

.contenedor-slider{
    display: block;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 1024px;
    margin: 100px auto;
    overflow: hidden;
    box-shadow: 0 0 0 10px white,
                0 15px 30px;
    position: relative;
}

.slider{
    display: flex;
    width: 400%;
    height: 500px;
    margin-left: -100%;
}

.slider-section{
    width: 100%;
}

.slider-img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-img img{
    width: 1024px;
}

.slider-btn{
    position: absolute;
    width: 40px;
    height: 40px;
    top:50%;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
}

.slider-btn i{
    color:#3f3f3f71;
    border-radius: 50%;
    padding: 0px;
}

.slider-btn i:hover{
    color: #3f3f3f;
}

.sldier-btn-derecha{
    right: 10px;
}
.sldier-btn-izquierda{
    left: 10px;
}


    /*-------- Contactos --------*/

.contacto{
    background-color: rgb(184, 184, 184);
    color: rgb(0, 0, 0);
    display: flex;
    width: 100%;
    height: 80vh;
}

.contenedor-contactos{
    display: block;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 50px;
}

.contenedor-info-contactos{
    margin-top: 50px;
}

.input-contacto{
    width: 400px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.btn-enviar{
    width: 100px;
    padding: 5px;
    justify-self: center;
    align-self: center;
    background-color: #ffffff8a;
    border-radius: 5px;
    font-size: 20px;
}

.btn-enviar:hover{
    background-color: #ffffff;
}

.formulario span{
    font-size: 15px;
    font-style: italic;
    margin-left: 10px;
}

.info-contacto{
    font-size: 20px;
    margin: 5px;
}

.info-contacto i{
    margin-right: 5px;
}


    /*------- Footer -------*/

footer{
    height: 90px;
    background-color: black;
    display: block;
    text-align: center;
    padding-top: 10px;
}

footer p{
    margin: 0;
}
